        <aside class="right-sidebar">
        <div class="widget">
          <form class="form-search">
            <input class="form-control" type="text" placeholder="Search..">
          </form>
        </div>

        <%= partial blog_dir + "partials/_right-sidebar-categories" %>

        <%= partial blog_dir + "partials/_right-sidebar-latestPost" %>

        <%= partial blog_dir + "partials/_right-sidebar-popularTag" %>


        </aside>