<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>fonts</string>
		<string>stylesheet-blog-main</string>
		<string>stylesheet-blog-moderna-details</string>
		<string>stylesheet-blog-moderna-main</string>
		<string>stylesheet-moderna-contact</string>
		<string>stylesheet-moderna-home</string>
		<string>stylesheet-moderna-portfolio</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
